.navbar{
    min-height: 80px;
    background-color: rgba(255, 255, 255, 0.95);
}

.navbar > div > div{
    height: 80px;
    padding-top:18px;
}

.repository-card {
    -webkit-box-shadow: 10px 10px 87px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 87px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 87px -13px rgba(0,0,0,0.75);
    width: 20rem; 
    height: 35em;
}

/* .aq-block aq-block-aq_blog_block{
    padding-left: 15px !important;
	padding-right: 15px !important;
}
     */
.main_photo {
    background: url("./../images/background.jpeg") center center no-repeat;
    background-size: cover;
    height: 600px;
}

.book_photo{
    background: url("./../images/coffeeAndBook.jpg") center center no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 70px;

}

.mail_photo{
    background: url("./../images/mailbox.jpg") center center no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 70px;
 
}

.card-title{
    font-family:'Lora', 'Arial Black', serif;
    
}

.card-text{
    font-family:'Lora', serif;
    font-size: 13px ;
}

.title{
    background: transparent;
    color: #000;
    text-align: center;
    margin-top: 70px;
    margin-bottom:20px;
    padding: 40px;
    padding-top: 10px;
    font-family: 'Lora', 'Arial Black', serif;
    font-weight: normal;
    text-align: center; 
}

.aboutMeText{
    background: transparent;
    color: #000;
    text-align: center;
    margin-bottom: 70px;
    padding: 40px;
    padding-top: 10px;
    font-family: 'Lora', 'Arial Black', serif;
    font-weight: normal;
    text-align: center;
}

h1, h2 { 
    color:whitesmoke;
    font-size: 4em;
    margin: 0;
    font-family: 'Cinzel Decorative', cursive;
     /* 'Arial Black', serif; */
    font-weight: normal;
    text-align: left;
    opacity: 0.9;
    padding-top: 30%;
    padding-left: 5%;
}

h3{
    color: whitesmoke;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    text-align: left;
    opacity: 0.5;
    padding-left: 5%;
}

/* h2,
h3 {
    color: rgb(34, 2, 44);
    font-family: "Palatino Linotype", Times, serif;
    border-top: 2px solid rgb(247, 242, 245);
    padding-top: 7px;
    padding-left: 100px;
    text-align: center; 
}*/

.footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color:whitesmoke;
  }

  .fa-cog {
    color: whitesmoke;
    font-size:45px;
    height: 45px;
    width: 45px;
  }

  .icon{
      font-size: 45px;
      text-align: center;
  }

  nav {
    display: flex;
    list-style: none;
  }

  .flex-center{
      display: flex;
      justify-content: center;
  }
  
#article {
    background: rgb(245, 245, 245);
    background-color: #ffdab9;
    background-image: url(images/bg_page.png);
    background-repeat: repeat-y;
    background-position: center top;
    padding: 0;
    margin: 0 auto;
    width: 760px;
    background-image: url("images/background.jpeg");
}

#a {
    color: #666666;
    font-family: Arial, sans-serif;
    text-align: center;
}

#footer {
    background: rgb(30, 30, 30);
    color: lightgrey;
}

.card {
    padding: 50px;
    font-weight: lighter;
}

#footer a {
    color: lightgrey;
    font-size: 15px;
    position: horizontal;
    padding: rgb(240, 240, 204);
}

#footer a:hover {
    color: white;
}

.ref-icon {
    padding-right: 30px !important;
}

.gi-2x {
    font-size: 2em;
}

.gi-3x {
    font-size: 3em;
}

.gi-4x {
    font-size: 4em;
}

.gi-5x {
    font-size: 5em;
}

.roundedImage {
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;
    padding-top: 20px; 
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -170px;
  }

.socialMedia{
    /* width: 300px;
    height: 100px; */
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -170px;
}
  
.custom-image-border {
    border: 1px solid #ddd;
    /* border-radius: 4px; */
    padding: 5px;
    width: 150px;
    border-radius: 50%;
    height: 150px;
    max-height: 100%;
    margin-bottom: 20px;
}

.custom-image-border:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.project-row {
    padding-top: 50px;
}

.project-container {
    border: 1px solid white; 
    padding: 5px; 
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10%;
}

.project-box {
    display: block;
    float: left;
}

.project-link-container {
    display: flex; 
    justify-content: center;
}

.project-link {
    border: 1px solid black;
    /* border-radius: 50%; */
    padding: 10px;
    width: 80px;
    /* /background: linear-gradient(white,aqua); */
}

.code {
    float: left;
}